html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png');
   */
  background-size: cover;
}

input {
  width: 30%;
  padding: 20px;
  font-size: 28px;
  font-style: italic;
  outline-color: #3c4245;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.search-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__card {
  height: 100%;
  margin-bottom: 5px;
  height: 280px;
  object-fit: cover;
}

.photo-card {
  border-color: #f6f6f6;
  padding: 2px;
  margin: 1px;
  margin-bottom: 15px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
}
.stats-item {
  color: #272220;
  border-color: #f6f6ff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  width: 60px;
  text-align: center;
}
.stats-item:hover,
.stats-item:focus {
  color: #1bbe64;
  transform: scale(1.3);
}

.material-icons {
  font-size: 26px;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
